html
{
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face
{
    font-family: 'Comfortaa';
    src: url('Comfortaa-Regular.ttf');
}

body
{
    background-image: url('../img/5.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Ebrima';
    height: 100%;
    padding: 0;
}

div#principal
{
    
    background-color: white;
    width: 60%;
    margin-left: 19.5%;
    padding-top: 1%;
    opacity: 0.97;
    height: 98%;
}

input#voltar    
{
    padding: 0;
    background-color: white;
    border-width: 0;
    color: midnightblue;    
    cursor: pointer;
    font-family: 'Ebrima';
    font-size: 1vw;
    padding: 0.9%;
    width: 10%;
    margin-left: 1.2%;
    vertical-align: middle;
    display: inline-block;
    text-align: top;
}

input#voltar:hover
{
    box-shadow: 0px 0px 5px #BBB;
}

div.titulo
{
    width: 100%;
    font-family: 'Comfortaa';
    font-size: 5vw;
    text-align: center;
    color: midnightblue;   
    vertical-align: middle;
    display: inline-block;  
}

div.usuario
{
    width: 50%;
    margin-left: 25%;
    text-align: right;
    font-size: 1.5vw;
    font-family: 'Comfortaa';
    color: midnightblue;
}

div.informacao
{
    color: midnightblue; 
    margin-top: 4%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1.1vw;
}

form#formularioCadastro
{
    margin-top: 4%;
}

div.campo
{
    text-align: right;
    border-width: 1px;
    border-style: solid;
    border-color: midnightblue;
    width: 70%;
    line-height: normal;
    margin-left: 15%;
    font-size: 1vw;
    color: midnightblue;
    margin-bottom: 1%;
}

div.campoCidade
{
    text-align: right;
    border-width: 1px;
    border-style: solid;
    border-color: midnightblue;
    width: 50%;
    line-height: normal;
    margin-left: 15%;
    font-size: 1vw;
    display: inline-block;
    vertical-align: middle;
    color: midnightblue;
    margin-bottom: 1%;
}

input#campoCidade
{
    width: 58%;
    padding: 1.3%;
    font-size: 1.05vw;
    margin-left: 1%;
}

div.campoUF
{
    font-size: 1vw;
    text-align: right;
    border-width: 1px;
    border-style: solid;
    border-color: midnightblue;
    width: 18.3%;
    line-height: normal;
    margin-left: 1%;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    color: midnightblue;
    margin-bottom: 1%;
}

input#campoUF
{
    width: 60%;
    font-size: 1.1vw;
    margin: 0;
    padding: 3%;
    margin-left: 8%;
    height: 100%;
    line-height: normal;
    vertical-align: middle;
}

div.campoComplemento
{
    font-size: 1vw;
    text-align: right;
    border-width: 1px;
    border-style: solid;
    border-color: midnightblue;
    width: 43.3%;
    line-height: normal;
    margin-left: 1%;
    display: inline-block;
    vertical-align: middle;    
    color: midnightblue;
    margin-bottom: 1%;
}

input#CampoComplemento
{
    width: 55%;
    font-size: 1vw;
    margin: 0;
    padding: 1.8%;
    margin-left: 3%;
    height: 100%;
    line-height: normal;
    vertical-align: middle;
}

div.campoNumero
{
    margin-left: 15%;
    font-size: 1vw;
    text-align: right;
    border-width: 1px;
    border-style: solid;
    border-color: midnightblue;
    width: 25%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;    
    color: midnightblue;
    margin-bottom: 1%;
}

input#campoNumero   
{
    width: 40%;
    font-size: 1vw;
    margin: 0;
    padding: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 3%;
    height: 100%;
    line-height: normal;
    vertical-align: middle;
}

div.campoContato
{
    font-size: 1vw;
    text-align: right;
    border-width: 1px;
    border-style: solid;
    border-color: midnightblue;
    width: 70%;
    line-height: normal;
    margin-left: 15%;
    display: inline-block;
    vertical-align: middle;
    color: midnightblue;
    
}

input#campoContato
{
    width: 67%;
    margin-left: 1%;
    font-size: 1vw;
    padding: 1%;
}

button#adicionarContato:hover
{
    box-shadow: 0px 0px 20px #dddddd;
}

input
{
    width: 70%;
    margin-left: 1%;
    height: 100%;
    background-color: midnightblue;
    border-width: 0;
    padding: 1%;
    color: white;
    font-size: 1vw;
}

input#rotinaAtendimento
{
    background-color: midnightblue;
    color: white;
    width: 70.2%;
    margin: 0;
    font-size: 1vw;
    cursor: pointer;
    font-family: 'Ebrima';
    border-width: 0;
    padding: 1%;
    margin-left: 15%;   
    margin-bottom: 1%;
    transition-duration: 0.6s;
}

input#rotinaAtendimento:hover
{
    background-color: black;
}

div.mensagemErro
{
    font-size: 1vw;
    color: red;
    text-align: center;
    margin: 1%;
    margin-top: 1.5%;
}

div#mensagemErroRotina
{
    font-size: 1vw;
    color: red;
    text-align: center;
    margin: 1%;
    margin-top: 1.5%;
}

input#botao
{
    background-color: midnightblue;
    color: white;
    width: 50%;
    margin: 1%;
    margin-left: 18%;
    font-size: 1vw;
    cursor: pointer;
    font-family: 'Ebrima';
    border-width: 0;
    padding: 1%;  
    vertical-align: middle;
    display: inline-block;
    transition-duration: 0.6s;
}

input#botao:hover
{
    background-color: black;
}

div#fundoPreto
{    
    position: absolute;
    top: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    display: none;
}

div#formularioRotina
{    
    background-color: #FFFFFF;
    position: absolute;
    padding: 3%;
    padding-top: 1%;
    top: 13%;
    left: 17%;  
    height: 70%;
    width: 60%;
    box-shadow: 0px 0px 30px #111111;
    display: none;
    
}

div.informacaoSair
{
    color: midnightblue;
    font-size: 1vw;
    text-align: right;
}

div.tituloRotina
{
    font-family: 'Comfortaa';
    font-size: 3vw;
    color: midnightblue;
    margin-bottom: 5%;
    text-align: center;
}

div.botoesDia
{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-family: 'Ebrima';
    align-items: center;
    padding-left: 4%;
}

button.diaSemana
{
    width: 18%;    
    padding: 1.5%;
    margin-bottom: 0.5%;
    font-size: 1.2vw;
    font-family: 'Ebrima';
    background-color: midnightblue;
    color: #FFF;
    border-width: 0;
    border-color: midnightblue;
    cursor: pointer;
    transition-duration: 0.5s;
}

button#btnSabado
{
    margin-left: 18.5%;
}

button#diaSemana:hover
{
    background-color: #FFF;
    color: midnightblue;
}

div.camposHora
{
    display: inline-block;
    vertical-align: top;
    font-family: 'Ebrima';
    width: 100%;
}

div#diaAtual
{
    margin-top: 1%;
    font-size: 2vw;
    color: midnightblue;
    width: 100%;
    text-align: center;
}

div.informacaoPreenchimento
{
    font-size: 1.2vw;
    color: midnightblue;
    margin-top: 2%;
    width: 100%;
    text-align: center;
}

div.campoDe
{
    text-align: right;
    border-width: 1px;
    border-style: solid;
    border-color: midnightblue;
    width: 30%;
    line-height: normal;
    margin-left: 20%;
    font-size: 1vw;
    color: midnightblue;
    margin-top: 4%;
    margin-bottom: 5%;
    display: inline-block;
}

input#campoDe
{
    font-size: 1.2vw;
    padding: 3%;
    width: 50%;
    text-align: center;
    font-family: 'Ebrima';
}

div.campoAte
{
    text-align: right;
    border-width: 1px;
    border-style: solid;
    border-color: midnightblue;
    width: 30%;
    line-height: normal;
    font-size: 1vw;
    color: midnightblue;
    margin-bottom: 6.25%;
    display: inline-block;
}

input#campoAte
{
    font-size: 1.2vw;
    padding: 3%;
    width: 50%;
    text-align: center;
    font-family: 'Ebrima';
}

div.integral
{
    text-align: center;
    width: 20%;
    line-height: normal;
    margin-left: 25%;
    font-size: 1vw;
    color: midnightblue;
    display: inline-block;
}

input#chkIntegral
{
    display: none;
}

input#chkIntegral + label
{
    vertical-align: middle;
    display:inline-block;
    height: 0.8vw;
    padding-left: 1.5vw;
    background-image:url('../img/checkBox.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: -3vw 0;
    cursor: pointer;
    transition-duration: 0.2s;
    
}

input#chkIntegral:checked + label
{
     background-position: 0 0;/* Muda a posição do background só no checkbox */
}

div.naoAbre
{
    text-align: center;
    width: 20%;
    line-height: normal;
    margin-left: 5%;
    font-size: 1vw;
    color: midnightblue;
    display: inline-block;
}

input#chkNaoAbre
{
    display: none;
}

input#chkNaoAbre + label
{
    vertical-align: middle;
    display:inline-block;
    height: 0.8vw;
    padding-left: 1.5vw;
    background-image:url('../img/checkBox.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: -3vw 0;
    cursor: pointer;
    transition-duration: 0.2s;
    
}

input#chkNaoAbre:checked + label
{
     background-position: 0 0;/* Muda a posição do background só no checkbox */
}

button#verificar
{
    background-color: midnightblue;
    color: white;
    width: 70%;
    margin: 0;
    font-size: 1.2vw;
    cursor: pointer;
    font-family: 'Ebrima';
    border-width: 0;
    padding: 1%;
    margin-left: 15%;   
    margin-bottom: 1%;
    transition-duration: 0.5s;
}

button#verificar:hover
{
    background-color: black;
}
